img {
  display: block;
  width: 100%; }

body [data-aos=fade-left] {
  -webkit-transform: translate(30px);
  transform: translate(30px); }
body [data-aos=fade-right] {
  -webkit-transform: translate(-30px);
  transform: translate(-30px); }
body [data-aos=fade-down] {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px); }

body[data-aos-delay='3200'] [data-aos], [data-aos][data-aos][data-aos-delay='3200'] {
  -webkit-transition-delay: 3.2s;
  transition-delay: 3.2s; }

body[data-aos-delay='4000'] [data-aos], [data-aos][data-aos][data-aos-delay='4000'] {
  -webkit-transition-delay: 4s;
  transition-delay: 4s; }

@media all and (min-width: 1080px) {
  .inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    position: relative; } }
@media all and (min-width: 1900px) {
  .inner {
    width: 1500px; } }

.logo .inner {
  position: relative; }
  @media all and (min-width: 1080px) {
    .logo .inner {
      position: fixed;
      min-height: 60px;
      z-index: 999;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); } }
  .logo .inner img {
    position: absolute;
    width: 40%;
    top: -1vw;
    left: -1vw;
    z-index: 99; }
    @media all and (min-width: 1080px) {
      .logo .inner img {
        width: 20%;
        left: 0;
        top: 0; } }

.menu_ham {
  position: fixed;
  width: 9%;
  right: 5vw;
  top: 5vw;
  z-index: 999; }
  @media all and (min-width: 1080px) {
    .menu_ham {
      display: none; } }

.menuWrap {
  position: fixed;
  background-color: #FFF;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: none; }
  .menuWrap .inner {
    width: 100%;
    height: 100%; }
  @media all and (min-width: 1080px) {
    .menuWrap {
      display: block;
      width: 100%;
      height: 60px;
      -webkit-box-shadow: 0px 0px 7px #aaa;
      box-shadow: 0px 0px 7px #aaa; }
      .menuWrap .inner {
        width: 900px;
        position: relative; } }
  @media all and (min-width: 1900px) {
    .menuWrap {
      height: 100px; }
      .menuWrap .inner {
        width: 1500px; } }
  .menuWrap .close {
    position: absolute;
    right: 5vw;
    top: 5vw;
    width: 9%; }
    @media all and (min-width: 1080px) {
      .menuWrap .close {
        display: none; } }
  .menuWrap .menu {
    position: relative;
    width: 60%;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999; }
    @media all and (min-width: 1080px) {
      .menuWrap .menu {
        width: auto;
        text-align: center; } }
    .menuWrap .menu li {
      display: block;
      margin-top: 3.8%; }
      @media all and (min-width: 1080px) {
        .menuWrap .menu li {
          display: inline-block;
          cursor: pointer;
          width: 144px;
          margin: 0;
          position: relative; } }
      @media all and (min-width: 1900px) {
        .menuWrap .menu li {
          width: 240px; } }
      .menuWrap .menu li .submenu {
        display: none;
        width: 100%;
        z-index: 99; }
        @media all and (min-width: 1080px) {
          .menuWrap .menu li .submenu {
            position: absolute;
            width: 222px;
            background: url("../img/submenu_bg.png") center top no-repeat;
            background-size: 100%;
            padding: 12.6px 0 0;
            top: 50px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }
        @media all and (min-width: 1900px) {
          .menuWrap .menu li .submenu {
            width: 370px;
            padding: 21px 0 0;
            top: 80px; } }
        .menuWrap .menu li .submenu li {
          display: block;
          margin-top: 5.5%; }
          @media all and (min-width: 1080px) {
            .menuWrap .menu li .submenu li {
              margin: 0;
              width: 100%;
              cursor: pointer; } }
      .menuWrap .menu li.active .submenu {
        display: block; }
      @media all and (min-width: 1080px) {
        .menuWrap .menu li:hover .submenu {
          display: block; } }
  .menuWrap .logo {
    display: none; }
    @media all and (min-width: 1080px) {
      .menuWrap .logo {
        display: block;
        position: absolute;
        width: 20%;
        top: 0; } }

.top {
  background: url("../img/top_bg.png") top center no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  @media all and (min-width: 1080px) {
    .top {
      background: url("../img/top_bg-dt.png") center center no-repeat;
      background-size: cover;
      width: 100%; } }
  .top .inner > * {
    position: absolute; }
  .top .inner .main {
    display: none;
    width: 111.1111111111vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media all and (min-width: 1080px) {
      .top .inner .main {
        display: block; } }
  .top .inner .logo {
    width: 40%;
    top: -1vw;
    left: -1vw; }
    @media all and (min-width: 1080px) {
      .top .inner .logo {
        display: none; } }
  .top .inner .title {
    width: 100%;
    bottom: 30%; }
    @media all and (min-width: 1080px) {
      .top .inner .title {
        width: 19%;
        bottom: initial;
        top: 12%;
        right: -6%; } }
  .top .inner .top_prod {
    width: 100%;
    bottom: 0;
    right: 0; }
    @media all and (min-width: 1080px) {
      .top .inner .top_prod {
        width: 38%;
        left: -10%;
        bottom: 10%; } }
  .top .inner .bling {
    width: 100%;
    bottom: 0; }
    @media all and (min-width: 1080px) {
      .top .inner .bling {
        width: 38%;
        left: -10%;
        bottom: 10%; } }

@media all and (min-width: 1080px) {
  .yt .inner {
    width: 100%; }
    .yt .inner .title {
      background: url("../img/yt_title_bg-dt.png") center center no-repeat; }
      .yt .inner .title img {
        width: 900px;
        margin: 0 auto; } }
      @media all and (min-width: 1080px) and (min-width: 1900px) {
        .yt .inner .title img {
          width: 1500px; } }

.yt .inner .yt_bg {
  position: relative;
  width: 100%;
  height: 100vw;
  background: url("../img/yt_bg.png") top center no-repeat;
  background-size: 100%; }
  @media all and (min-width: 1080px) {
    .yt .inner .yt_bg {
      height: 648px;
      background-size: cover; } }
  @media all and (min-width: 1900px) {
    .yt .inner .yt_bg {
      height: 1080px; } }
  .yt .inner .yt_bg .bgV {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .yt .inner .yt_bg .bgV video {
      min-height: 648px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-40%);
      transform: translateY(-40%); }
      @media all and (min-width: 1900px) {
        .yt .inner .yt_bg .bgV video {
          width: 110%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); } }
.yt .inner .mask {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5); }
  @media all and (min-width: 1080px) {
    .yt .inner .mask {
      width: 100%;
      height: 648px; } }
  @media all and (min-width: 1900px) {
    .yt .inner .mask {
      height: 1080px; } }
.yt .inner .word {
  position: absolute;
  top: 27vw; }
  @media all and (min-width: 1080px) {
    .yt .inner .word {
      top: 27%;
      width: 900px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); } }
  @media all and (min-width: 1900px) {
    .yt .inner .word {
      width: 1500px; } }
.yt .inner .play {
  position: absolute;
  width: 14.35%;
  top: 55vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media all and (min-width: 1080px) {
    .yt .inner .play {
      width: 93px;
      top: 55%;
      -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      border-radius: 99em;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: translate(-50%, -20%);
      transform: translate(-50%, -20%); }
      .yt .inner .play:hover {
        width: 97px;
        -webkit-filter: contrast(0.2) brightness(1.8);
        filter: contrast(0.2) brightness(1.8); } }
  @media all and (min-width: 1900px) {
    .yt .inner .play {
      width: 155px; }
      .yt .inner .play:hover {
        width: 160px; } }
.yt .yt_popup {
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000; }
  .yt .yt_popup iframe {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 50.625vw; }
    @media all and (min-width: 1080px) {
      .yt .yt_popup iframe {
        width: 80vw;
        height: 45vw; } }

.bg {
  background: url("../img/bg.jpg") center bottom no-repeat;
  background-size: 100%;
  overflow-x: hidden;
  padding-top: 6.8%;
  overflow: hidden; }
  @media all and (min-width: 1080px) {
    .bg {
      background: url("../img/bg-dt.jpg") center bottom no-repeat;
      background-size: cover;
      padding-top: 3%; } }

.blog {
  margin-top: 6.48%;
  margin-bottom: 6.48%; }
  @media all and (min-width: 1080px) {
    .blog {
      margin: 3% 0; } }
  .blog .inner .group {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 62vw;
    margin-bottom: 5.09%; }
    @media all and (min-width: 1080px) {
      .blog .inner .group {
        width: 100%;
        margin: 0; }
        .blog .inner .group:first-child {
          height: 300px; }
        .blog .inner .group:nth-child(2) {
          height: 306px;
          margin-top: 1.5%; }
        .blog .inner .group:nth-child(3) {
          height: 372px;
          margin-top: -3%; } }
    @media all and (min-width: 1900px) {
      .blog .inner .group:first-child {
        height: 500px; }
      .blog .inner .group:nth-child(2) {
        height: 510px;
        margin-top: 1.5%; }
      .blog .inner .group:nth-child(3) {
        height: 620px;
        margin-top: -3%; } }
    .blog .inner .group > * {
      position: absolute; }
    .blog .inner .group .pic {
      top: 0; }
    .blog .inner .group > :last-child:after {
      display: block;
      position: absolute;
      content: "+";
      width: 3vw;
      height: 3vw;
      line-height: 3vw;
      text-align: center;
      border-radius: 100em;
      color: #59586e;
      border: 1px solid #59586e;
      -webkit-animation: breath 2s ease-in infinite;
      animation: breath 2s ease-in infinite; }
      @media all and (min-width: 1080px) {
        .blog .inner .group > :last-child:after {
          width: 25.8px;
          height: 25.8px;
          line-height: 25.8px;
          border: 1px solid #59586e; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group > :last-child:after {
          width: 43px;
          height: 43px;
          line-height: 43px;
          border: 1px solid #59586e; } }
    .blog .inner .group .b1_t1 {
      width: 28.888%;
      top: 0;
      left: 11.1%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b1_t1 {
          width: 187.2px;
          left: 6%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b1_t1 {
          width: 312px; } }
    .blog .inner .group .b1_t2 {
      width: 28.888%;
      top: 19.4%;
      left: 36.29%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b1_t2 {
          width: 187.2px;
          top: 48%;
          left: 24%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b1_t2 {
          width: 312px; } }
    .blog .inner .group .b1_dtl {
      width: 26.48%;
      bottom: 0;
      left: 3.7%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b1_dtl {
          width: 171.6px;
          left: 0;
          bottom: 10%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b1_dtl {
          width: 286px;
          left: 0;
          bottom: 10%; } }
      .blog .inner .group .b1_dtl:after {
        top: 10%;
        right: 5%; }
    .blog .inner .group .b1_line {
      top: -5vw;
      left: 39vw; }
      .blog .inner .group .b1_line span {
        display: block;
        width: 2px;
        height: 33vw;
        background-color: #59586e;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b1_line {
          top: -9%;
          left: 25.5%; }
          .blog .inner .group .b1_line span {
            height: 198px; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b1_line span {
          height: 330px; } }
    .blog .inner .group .b2_t1 {
      width: 38.51%;
      right: 11.38%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b2_t1 {
          width: 249.6px;
          top: 14%;
          right: 15%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b2_t1 {
          width: 416px; } }
    .blog .inner .group .b2_t2 {
      width: 28.888%;
      top: 36.41%;
      right: 11.38%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b2_t2 {
          width: 187.2px;
          top: 55%;
          right: 28%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b2_t2 {
          width: 312px; } }
    .blog .inner .group .b2_dtl {
      width: 26.48%;
      bottom: 0;
      right: 3.7%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b2_dtl {
          width: 171.6px;
          right: 0;
          bottom: 10%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b2_dtl {
          width: 286px; } }
      .blog .inner .group .b2_dtl:after {
        top: 10%;
        right: 1%; }
    .blog .inner .group .b2_line {
      top: -5vw;
      right: 13.5vw; }
      .blog .inner .group .b2_line span {
        display: block;
        width: 2px;
        height: 33vw;
        background-color: #59586e;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b2_line {
          top: 5%;
          right: 16%; }
          .blog .inner .group .b2_line span {
            height: 198px; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b2_line span {
          height: 330px; } }
    .blog .inner .group .b3_t1 {
      width: 38.51%;
      top: 40.14%;
      left: 1.85%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b3_t1 {
          width: 249.6px;
          top: 35%;
          left: 11%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b3_t1 {
          width: 416px; } }
    .blog .inner .group .b3_t2 {
      width: 31.29%;
      left: 13.98%;
      bottom: 0; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b3_t2 {
          width: 202.8px;
          top: 58%;
          left: 24.5%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b3_t2 {
          width: 338px; } }
    .blog .inner .group .b3_dtl {
      width: 26.48%;
      top: 0;
      left: 3.7%; }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b3_dtl {
          width: 171.6px;
          left: 1.5%;
          top: 56%; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b3_dtl {
          width: 286px; } }
      .blog .inner .group .b3_dtl:after {
        top: 3%;
        right: 12%; }
    .blog .inner .group .b3_line {
      bottom: -5vw;
      left: 13.5vw; }
      .blog .inner .group .b3_line span {
        display: block;
        width: 2px;
        height: 33vw;
        background-color: #59586e;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      @media all and (min-width: 1080px) {
        .blog .inner .group .b3_line {
          top: 10%;
          left: 44%; }
          .blog .inner .group .b3_line span {
            height: 198px; } }
      @media all and (min-width: 1900px) {
        .blog .inner .group .b3_line span {
          height: 330px; } }

.per {
  margin-bottom: 6.48%;
  position: relative; }
  @media all and (min-width: 1080px) {
    .per {
      margin-bottom: 3%; } }
  .per .inner {
    position: relative; }
    .per .inner .title {
      margin-bottom: 6.48%; }
      @media all and (min-width: 1080px) {
        .per .inner .title {
          height: 135px;
          margin-bottom: 3%; } }
      @media all and (min-width: 1900px) {
        .per .inner .title {
          height: 225px; } }
    .per .inner .line {
      position: absolute;
      width: 40%;
      height: 0.6vw;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 12%; }
      .per .inner .line span {
        display: block;
        background-color: #c6cad6;
        width: 100%;
        height: 100%; }
      @media all and (min-width: 1080px) {
        .per .inner .line {
          height: 3px;
          width: 30%; } }
      @media all and (min-width: 1900px) {
        .per .inner .line {
          height: 5px; } }
    .per .inner .wrap {
      position: relative;
      width: 92.6%;
      height: 138.9vw;
      margin: 0 auto; }
      @media all and (min-width: 1080px) {
        .per .inner .wrap {
          width: 80%;
          height: 900px; } }
      @media all and (min-width: 1900px) {
        .per .inner .wrap {
          height: 1500px; } }
      .per .inner .wrap ul {
        font-size: 0; }
        .per .inner .wrap ul li {
          display: inline-block;
          width: 50%; }
      .per .inner .wrap .per1_title {
        position: absolute;
        width: 34%;
        top: 16.14%;
        left: -1.85%; }
        @media all and (min-width: 1080px) {
          .per .inner .wrap .per1_title {
            width: 204px;
            left: -7.65%; } }
        @media all and (min-width: 1900px) {
          .per .inner .wrap .per1_title {
            width: 340px; } }
      .per .inner .wrap .per2_title {
        position: absolute;
        width: 49%;
        top: 37.06%;
        right: -1.85%; }
        @media all and (min-width: 1080px) {
          .per .inner .wrap .per2_title {
            width: 294px;
            right: -9.4%; } }
        @media all and (min-width: 1900px) {
          .per .inner .wrap .per2_title {
            width: 490px; } }
      .per .inner .wrap .per3_title {
        position: absolute;
        width: 45%;
        top: 72.53%;
        left: -1.85%; }
        @media all and (min-width: 1080px) {
          .per .inner .wrap .per3_title {
            width: 270px;
            left: -7.5%; } }
        @media all and (min-width: 1900px) {
          .per .inner .wrap .per3_title {
            width: 450px; } }

.sale {
  margin-bottom: 6.48%; }
  @media all and (min-width: 1080px) {
    .sale {
      margin-bottom: 3%; } }
  .sale .inner {
    position: relative; }
    @media all and (min-width: 1080px) {
      .sale .inner .title {
        height: 114px; } }
    @media all and (min-width: 1900px) {
      .sale .inner .title {
        height: 190px; } }
    .sale .inner .line {
      position: absolute;
      width: 40%;
      height: 0.6vw;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 15%; }
      .sale .inner .line span {
        display: block;
        background-color: #c6cad6;
        width: 100%;
        height: 100%; }
      @media all and (min-width: 1080px) {
        .sale .inner .line {
          height: 3px;
          width: 30%;
          top: 12%; } }
      @media all and (min-width: 1900px) {
        .sale .inner .line {
          height: 5px; } }
    .sale .inner .sale_slider {
      margin-top: 6.481%; }
      @media all and (min-width: 1080px) {
        .sale .inner .sale_slider {
          margin-top: 3%; } }
      .sale .inner .sale_slider i {
        cursor: pointer;
        font-size: 50px;
        position: absolute;
        top: 30%;
        color: rgba(0, 0, 0, 0.3);
        z-index: 99; }
      .sale .inner .sale_slider .next {
        right: 0; }
      .sale .inner .sale_slider .slick-list img {
        outline: none;
        height: auto; }

.footer {
  background-color: #302e4a; }
  @media all and (min-width: 1080px) {
    .footer img {
      width: 900px;
      margin: 0 auto; } }
  @media all and (min-width: 1900px) {
    .footer img {
      width: 1500px;
      margin: 0 auto; } }

@-webkit-keyframes bling {
  50% {
    opacity: 0.9; }
  90% {
    opacity: 0.5; } }
@keyframes bling {
  50% {
    opacity: 0.9; }
  90% {
    opacity: 0.5; } }
.bling {
  opacity: 0.5;
  -webkit-animation: bling 3s infinite;
  animation: bling 3s infinite; }

@-webkit-keyframes breath {
  50% {
    opacity: 0.1; }
  90% {
    opacity: 1; } }
@keyframes breath {
  50% {
    opacity: 0.1; }
  90% {
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */
